{% extends "main/layout.html" %}

{% block content %}
<h1>
    welcome to words
</h1>

<div style="margin: 16px 0;">
    <a href="{% url 'admin:main_book_add' %}">add new book</a>
    | <a href="{% url 'admin:main_author_add' %}">add new author</a>
</div>

<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Publication Date</th>
    </tr>
    {% for book in book_list %}
    <tr>
        <td>{{ book.title }}</td>
        <td>{{ book.author.name }}</td>
        <td>{{ book.published_at }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}
