<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body { font-family: sans-serif; }
            h1 { font-weight: 400; }
            table { max-width: 1000px; border-collapse: collapse; }
            th, td { padding: 8px; border: 1px solid #ccc; text-align: left; }
            th { background: green; color: white; }
            tr:nth-child(even) { background-color: #f2f2f2; }
        </style>
    </head>

    <body>
        {% if messages %}
        <aside>
            {% for message in messages %}
            <div {% if message.tags %}class="alert-{{ message.tags }}"{% endif %}>{{ message|safe }}</div>
            {% endfor %}
        </aside>
        {% endif %}

        {% block content %}
        {% endblock content %}
    </body>
</html>
